<h2>Pandas</h2>

In [1]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [9]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(data = my_data, index = labels)
pd.Series(my_data, labels) # No hace falta poner data = e index =

a    10
b    20
c    30
dtype: int64

In [12]:
# Se puede crear una series pasando un arreglo de Numpy
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [13]:
# Tambien se puede crear a partir de un diccionario. Tomara las key como indice
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
ser1 = pd.Series([1,2,3,4],['ARG','UY','BRA','COL'])

In [15]:
ser1

ARG    1
UY     2
BRA    3
COL    4
dtype: int64

In [16]:
ser2 = pd.Series([4,5,6,7],['ESP','FRA','ITA','POR'])

In [17]:
ser2

ESP    4
FRA    5
ITA    6
POR    7
dtype: int64

In [18]:
ser1['ARG']

1

In [19]:
ser3 = pd.Series([1,2,3,4],['ARG','UY','CHL','PER'])

In [20]:
ser1

ARG    1
UY     2
BRA    3
COL    4
dtype: int64

In [21]:
ser3

ARG    1
UY     2
CHL    3
PER    4
dtype: int64

In [22]:
ser1 + ser3 # Los que tengan el mismo indice los sumara, el resto lo dejara nulos. Al sumar los enteros se convertiran en floats

ARG    2.0
BRA    NaN
CHL    NaN
COL    NaN
PER    NaN
UY     4.0
dtype: float64