<h3>Multi Index - Index Higher Key</h3>

In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
df = pd.DataFrame(randn(6,2),hier_index, ['A','B'])

In [6]:
df

             A         B
G1 1 -0.432764  2.322187
   2 -0.453170  2.666059
   3 -0.432725 -0.434821
G2 1 -1.182273  0.813215
   2 -0.830091  1.110318
   3  2.098403  1.187908

In [9]:
df.loc['G1'].loc[1]

A   -0.432764
B    2.322187
Name: 1, dtype: float64

In [13]:
df.index.names # No tienen nombre

FrozenList([None, None])

In [15]:
df.index.names = ['Groups', 'Num'] # Para asignar nombres

In [16]:
df

                   A         B
Groups Num
G1     1   -0.432764  2.322187
       2   -0.453170  2.666059
       3   -0.432725 -0.434821
G2     1   -1.182273  0.813215
       2   -0.830091  1.110318
       3    2.098403  1.187908

In [21]:
df.loc['G2'].loc[2]['A']

-0.8300914619663035

<p>xs (cross section) devuelve la interseccion entre una columna y fila. Se usa con multilevel index</p>

In [24]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.432764  2.322187
G2     -1.182273  0.813215