<h2>Data Input and Output</h2>
<ul>
    <li>CSV</li>
    <li>Excel</li>
    <li>HTML</li>
    <li>SQL</li>
</ul>

In [1]:
import pandas as pd

In [3]:
pwd # Devuelve la ubicacion. Aca deberian estar los archivos que leo

'C:\\Users\\Lenovo\\Documents\\Python for Data Science and Machine Learning Bootcamp'

In [21]:
pd.read_excel('prueba.xlsx',sheet_name='Hoja1') # Le paso el nombre del archivo

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [22]:
df = pd.read_excel('prueba.xlsx')
df

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [23]:
df.to_excel('My_output.xlsx') # Guardo el df en un excel

<h3>Leer HTML</h3>

In [24]:
pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ValueError: No tables found